#anchor>a>button>img,
#editAnchor>img,
#editAnchor>a>button>img,
#anchor>button>img {
    width: 25px;
    height: 25px;

    margin: 5px;
}

#anchor {
    z-index: 1000;

    display: flex;
    flex-direction: column;

    max-width: min-content;

    padding-top: 10px;
}

#anchor>a>button,
#editAnchor>button,
#editAnchor>a>button,
#anchor>button {
    border-radius: 10px;
    margin: 5px;
    background-color: var(--main-color-transparent);
}

#summaryAnchorTest{
    position: sticky;
    top: 50vh;
}

#editAnchor{
    position: sticky;
    top: 50vh;
}

#scroll-up {
    position: sticky;
    top: 50vh;
}

@media screen and (max-width: 1024px) {
    #anchor {
    }
}

@media screen and (min-width: 1024px) {
    #anchor {
    }
}