#anchor>a>button>img,
#editAnchor>img,
#editAnchor>a>button>img,
#anchor>button>img {
    width: 25px;
    height: 25px;

    margin: 5px;
}

#anchor {
    display: block;
    max-width: min-content;

    height: 100%;

    padding: 10px;
}

#anchor>a>button,
#editAnchor>button,
#editAnchor>a>button,
#anchor>button {
    border-radius: 10px;
    margin: 5px;
    background-color: var(--main-color-transparent);
}

#summaryAnchor, #scroll-up, #editAnchor{
    position: sticky;
    z-index: 1000;
}

#summaryAnchor{
    top: 30vh;
}

#scroll-up {
    top:  10vh;
}

#editAnchor{
    top: 20vh;
}

@media screen and (max-width: 1024px) {
    #anchor {
        right: 0vw;
    }
}

@media screen and (min-width: 1024px) {
    #anchor {
        right: 5vw;
    }
}