#content {
    min-height: 80vh;
    height: max-content;

    margin-bottom: 5vh;
    padding-bottom: 2.5vh;

    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
}

#contentArticle{
    border-right-style: solid;
    border-left-style: solid;
    border-bottom-style: solid;
    border-color: var(--main-color);
    border-width: 3px;
    border-bottom-left-radius: 12px;
    border-bottom-right-radius: 12px;

    padding: 16px;
}

#content-left{
}

#content-right{
}


#content>article {
    padding-top:5vh;
    width: 100%;
}

article>div>p,
article>div>h2,
article>div>h3 {
    display: inline-block;
}

@media screen and (max-width: 1024px) {
    #content {
    }
    #content-left {
    }

    #content-right {
    }
}

@media screen and (min-width: 1024px) {
}