#content {
    min-height: 80vh;
    height: max-content;
    position: relative;

    margin-bottom: 5vh;
    padding-bottom: 2.5vh;

    border-right-style: solid;
    border-left-style: solid;
    border-bottom-style: solid;
    border-color: var(--main-color);
    border-width: 3px;
    border-bottom-left-radius: 12px;
    border-bottom-right-radius: 12px;
}

#content {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
}



#content>article {
    padding-top:5vh;
    width: 100%;
    padding-left: 1vw;
    padding-right: 1vw;
}

article>div>p,
article>div>h2,
article>div>h3 {
    display: inline-block;
}

@media screen and (max-width: 1024px) {
    #content {
    }

    #content-right {
        display: none;
    }

    #content>#markdown {
    }
}

@media screen and (min-width: 1024px) {
    #content {
    }

    #content>#markdown {
        max-width: inherit;
    }
}